[user]
	email = malinda_rajapakse@hotmail.com
	name = MalsR

[alias]
	glog = log --all --oneline --graph --decorate
	bs = branch -a
        st = status
        glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        glogs = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	traffic = !git log --all -M -C --name-only --format='format:' "$@" | sort | grep -v '^$' | uniq -c | sort | awk 'BEGIN {print "count,file"} {print $1 "," $2}'
	who = shortlog -s -n --no-merges

[color]
	ui = true

[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold

[http]
	sslverify = false
[core]
	editor = vim
